<h1 class="text-light text-center pt-2">Formularios</h1>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNIr2rwPrl04akDRzCLERujZuan8qjPIqePccDb51KmRsyFw/viewform"
          target="_blank">
          <button><i class="bi bi-recycle"></i> Decos Rotos Por Ventas</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScZyoAePVBYn8rtzehkL0laIR1Nvjg5lunttPCEgMfaNLMyJQ/viewform"
          target="_blank">
          <button><i class="bi bi-gear"></i> Contingencia ICD</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe4efFoodXKEA6k5tnlgwG0_VHhs2EwG5VOPkNt55MmwgkUXQ/viewform"
          target="_blank">
          <button><i class="bi bi-flag"></i> Reporte Casos TLP/APEX</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSffD-YlUyS5Nd5jQa6nXAMkTBoLnzMlDXYJwTgadh_QW6bDGg/viewform"
          target="_blank">
          <button><i class="bi bi-bag"></i> Decos Comprados con Error de Activacion</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeRMrs-TCbHO4qwj1G0A4o_6OdHMX_ZMqdoLPctYRj8NSrUHQ/formrestricted"
          target="_blank">
          <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
            <path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z"/>
            <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z"/>
          </svg> Registrar Escalaminto</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/spreadsheets/d/1HV_grlj55shyXWGWAfqMxgnYAjKjpghI9fX-ld_2S_4/edit?gid=1265651625#gid=1265651625"
          target="_blank">
          <button><i class="bi bi-bezier2"></i> Seguimiento Escalamientos</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeA1cw1xgmfFXpOWSLpPPTIBsNJKP9nGUR922Rprmu0DPsyCA/viewform"
          target="_blank">
          <button><i class="bi bi-box-arrow-right"></i> Informar Deslogueos</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTCksCOp7xjP0NUULzu3TSesRAP6pQgT0M8n_4zaMfX4LJ9Q/viewform"
          target="_blank">
          <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-slash" viewBox="0 0 16 16">
            <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465m-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95Z"/>
            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
          </svg> Reportar Nodo Caido</button>
        </a>
      </div>
      <div class="col">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSclkKFe8YrxFll1YtnRtQ3HZzSawGAltx3jAXKCYdTpKjLNyA/viewform"
          target="_blank">
          <button><i class="bi bi-patch-question"></i> Dudas Para Capacitaciones</button>
        </a>
      </div>
    </div>
  </div>