<h1 class="text-light text-center pt-2">Inicio</h1>


<div class="container text-center">
  <div class="row pb-5">
    <div class="col">
      <a href="https://docs.google.com/spreadsheets/d/1HPBFGmHjyJEoZnjWTvyCt4d5c4fk-Crj0OzuAPrHyDE/edit?gid=1110859029#gid=1110859029"
        target="_blank">
        <button class="lineamiento"><i class="bi bi-gem"></i> Lineamiento</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="https://docs.google.com/spreadsheets/d/1x0ZsDrLCncWBLngLSdpLuAqUrOAZBTGp/edit#gid=1992105678"
        target="_blank">
        <button><i class="bi bi-exclamation-triangle"></i> Masivos Vigentes</button>
      </a>
    </div>
    <div class="col">
      <a href="https://basedeconocimientos.custhelp.com/euf/assets/CV/Documentos/CBS/Planillas%20CBS/planillas_cbs.html"
        target="_blank">
        <button><i class="bi bi-file-earmark-break"></i> Planillas Para Escalamientos</button>
      </a>
    </div>
    <div class="col">
      <a href="https://sites.google.com/view/soporterrss/redes-soporte"
        target="_blank">
        <button><i class="bi bi-app-indicator"></i> Site General</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="https://docs.google.com/spreadsheets/d/1iJWdq1Irf04WDW79MgsurjHhsYtwWu6jwB3AfSPxpd0/edit?gid=397479060#gid=397479060"
        target="_blank">
        <button><i class="bi bi-bug"></i> Lista de Errores Flow</button>
      </a>
      
    </div>
    <div class="col">
      <a href="https://docs.google.com/spreadsheets/d/1hKZP3XEAOeHTe7zd-_ZlEcw1_NXvcBgzoryguYuPm0c/edit?gid=0#gid=0"
        target="_blank">
        <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-houses" viewBox="0 0 16 16">
          <path d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207z"/>
        </svg> Nodos Reportados</button>
      </a>
    </div>
    <div class="col">
      <a href="https://basedeconocimientos.custhelp.com/app/answers/detail/a_id/6429"
        target="_blank">
        <button><i class="bi bi-tools"></i> Herramientas CBS</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="https://docs.google.com/presentation/d/1OtJTUt6qe6qBab-Kj5XFAVskfot12cQ3RJJgLddEDUU/edit#slide=id.g21bff0434e9_0_460"
        target="_blank">
        <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sourceforge" viewBox="0 0 16 16">
          <path d="M9.13 8.43c0-2.604-.929-3.79-1.42-4.24a.14.14 0 0 0-.232.123c.095 1.472-1.762 1.84-1.762 4.144v.013c0 1.404 1.065 2.55 2.376 2.55s2.377-1.146 2.377-2.55v-.013c0-.655-.246-1.282-.492-1.745-.055-.096-.191-.055-.178.027.451 1.99-.669 3.217-.669 1.69Z"/>
          <path d="M6.303 13.923a.25.25 0 0 1-.164-.068L.061 7.789c-.081-.082-.081-.232 0-.327l6.42-6.407A.3.3 0 0 1 6.63 1h1.844c.109 0 .177.068.204.136a.22.22 0 0 1-.054.246L2.602 7.407a.304.304 0 0 0 0 .436l4.766 4.771c.082.082.082.232 0 .328l-.915.927a.3.3 0 0 1-.15.054m1.216 1.063a.22.22 0 0 1-.15-.382l6.036-6.025a.32.32 0 0 0 .096-.218.27.27 0 0 0-.096-.218l-4.78-4.771c-.082-.082-.082-.232 0-.327l.929-.927a.23.23 0 0 1 .163-.068c.069 0 .11.04.15.081l6.065 6.067c.04.04.068.095.068.163a.23.23 0 0 1-.068.164l-6.42 6.407A.23.23 0 0 1 9.35 15H7.52z"/>
        </svg> Lista Negra Clientes</button>
      </a>
    </div>
    <div class="col">
      <a href="https://calculadora-de-ajustes.netlify.app/"
      target="_blank">
      <button><i class="bi bi-calculator"></i> Calculadora De Ajustes</button>
    </a>
      
    </div>
    <div class="col">
      <a href="https://www.google.com/maps/d/u/0/viewer?hl=es-419&mid=1Gid8NZaUZrUfUnul_kuMPS7qC-jJWjMb&ll=-34.68844477278139%2C-58.5778691367348&z=11"
        target="_blank">
        <button><i class="bi bi-map"></i> Mapa Regiones AMBA</button>
      </a>
    </div>
  </div>
</div>
